<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Atualize  o seu cadastro</title>
  </head>
  <body>
  <divclass='container'>
    <div class='row'>
      <div class="col-md-6 offset-md-3">
        <button type="button" onclick="history.back()">Voltar</button>
        <br />
        <h1>Atualizar informações</h1>
        <br />
        <form method="POST" action="{% url 'atualizar_usuario' %}">
          {% csrf_token %} {{ usuario_form.as_p }}
          <br />
          <button type="submit" class="btn btn-secondary">Atualizar</button>
        </form>
        <br /><br />
        <a href="{% url 'atualizar_senha' %}" class='btn btn-success'>Atualizar Senha</a>
      </div>
    </div>
  </div>
  </body>
</html>