{% extends 'base.html' %} {% block content %}



<div id="map">mapa</div>



<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<h1>{{ local.nome_local }}</h1>
<div class="info">
  <p><strong>Descrição:</strong> {{ local.descricao }}</p>
  <p><strong>Categoria:</strong> {{ local.tipo }}</p>
  <p><strong>Cidade:</strong> {{ local.cidade }}</p>
  <p><strong>Bairro:</strong> {{ local.bairro }}</p>
  <p><strong>Rua:</strong> {{ local.rua }}</p>
  <p><strong>Telefone:</strong> {{ local.telefone }}</p>
  <p><strong>Email:</strong> {{ local.email }}</p>
  <!-- Adicione outros campos conforme necessário -->
</div>

<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

<!-- Botão para adicionar ao carrinho -->
<button
  type="button"
  data-local-id="{{ local.id }}"
  class="btn btn-secondary"
  id="add-cart"
>
  Adicionar
</button>


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<!-- footer-->
<footer style="background-image:url(Teste\explore\media\images\floripa_ponte.webp);" class="pt-10 ">
  <div class="footer-upper pb-5">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
                  <div class="footer-links">
                      <img src="/media/images/logo branca_.png" alt="logo" width="200">
                      <p class="mt-3">
                          Somos uma plataforma que visa a praticidade e agilidade na sua experiência de viagem.
                      </p>
                      <ul>
                          <li><strong>Telefone:</strong> (47) 9967-4794</li>
                          <li><strong>Endereço:</strong> Blumenau, Santa Catarina</li>
                          <li><strong>Email:</strong> info@Ysmart.com</li>
                          <li><strong>Website:</strong> www.smarttravel.com</li>
                      </ul>
                  </div>
              </div>
              
              <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 mb-4">
                  <div class="footer-links">
                      <h4 class="white">Serviços</h4>
                      <ul>
                          <li><a href="#">Pagamento</a></li>
                          <li><a href="#">Feedback</a></li>
                          <li><a href="#">Fale Conosco</a></li>
                          <li><a href="#">Outros Serviços</a></li>
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Mapas</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
                  <div class="footer-links">
                      <h4 class="white">Newsletter</h4>
                      <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                      <div class="newsletter-form">
                          <form>
                              <input type="email" placeholder="Enter your email">
                              <input type="submit" class="nir-btn mt-2 w-100" value="Subscribe">
                          </form>
                      </div> 
                  </div>     
              </div>
          </div>
      </div>
  </div>
  <div class="footer-copyright pt-2 pb-2">
      <div class="container">
          <div class="copyright-inner d-md-flex align-items-center justify-content-between">
              <div class="copyright-text">
                  <p class="m-0 white">2024 Smart Travel. Todos os direitos reservados.</p>
              </div>
              <div class="social-links">
                  <ul>  
                      <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
              </div>
          </div>    
      </div>
  </div>
  <div class="overlay"></div>
</footer>
<!-- footer ends -->

<script>
    $(document).on("click", "#add-cart", function (e) {
      e.preventDefault();

      $.ajax({
        type: "POST",
        url: '{% url "cart_add" %}',
        data: {
          product_id: $(this).data("local-id"),
          csrfmiddlewaretoken: "{{ csrf_token }}",
          action: "post",
        },
        success: function (json) {
          document.getElementById("cart_quantity").textContent = json.qty;
          location.reload();
        },
        error: function (xhr, status, err) {
          console.log(err);
        },
      });
    });

    // Mapa Leaflet
  const latitude = {{ local.latitude }};
  const longitude = {{ local.longitude }};
  const local = "{{local.nome_local}}";

  const map = L.map("map").setView([latitude, longitude], 19);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  const popup = L.popup()
                 .setLatLng([latitude, longitude])
                 .setContent(local)
                 .openOn(map);
</script>

{% endblock %}
