{% extends 'base.html' %} {% block content %}

<h1>{{ local.nome_local }}</h1>
<div class="info">
  <p><strong>Descrição:</strong> {{ local.descricao }}</p>
  <p><strong>Categoria:</strong> {{ local.tipo }}</p>
  <p><strong>Cidade:</strong> {{ local.cidade }}</p>
  <p><strong>Bairro:</strong> {{ local.bairro }}</p>
  <p><strong>Rua:</strong> {{ local.rua }}</p>
  <p><strong>Telefone:</strong> {{ local.telefone }}</p>
  <p><strong>Email:</strong> {{ local.email }}</p>
  <!-- Adicione outros campos conforme necessário -->
</div>

<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

<!-- Botão para adicionar ao carrinho -->
<button
  type="button"
  data-local-id="{{ local.id }}"
  class="btn btn-secondary"
  id="add-cart"
>
  Adicionar
</button>

<div id="map">mapa</div>

<script>
    $(document).on("click", "#add-cart", function (e) {
      e.preventDefault();

      $.ajax({
        type: "POST",
        url: '{% url "cart_add" %}',
        data: {
          product_id: $(this).data("local-id"),
          csrfmiddlewaretoken: "{{ csrf_token }}",
          action: "post",
        },
        success: function (json) {
          document.getElementById("cart_quantity").textContent = json.qty;
          location.reload();
        },
        error: function (xhr, status, err) {
          console.log(err);
        },
      });
    });

    // Mapa Leaflet
  const latitude = {{ local.latitude }};
  const longitude = {{ local.longitude }};
  const local = "{{local.nome_local}}";

  const map = L.map("map").setView([latitude, longitude], 19);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  const popup = L.popup()
      .setLatLng([latitude, longitude])
      .setContent(local)
      .openOn(map);
</script>

{% endblock %}
