{% extends "base.html" %} 
{% block content %}

{% comment %} Navbar {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/media/images/logo branca_.png" alt="logo" width="200">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/servicos">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/unidades">Unidades</a>
          </li>

          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {% if user.is_authenticated %} 
              Perfil 
              {% else %} 
              Log-in 
              {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li>
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'cadastro_usuario' %}"
                  >Cadastre-se</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
          <!-- Adicione mais itens de menu conforme necessário -->
        </ul>
        <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span
            class="badge bg-dark text-white ms-1 rounded-pill"
            id="cart_quantity"
          >
            {{ cart|length }}
          </span></a
        >
      </div>
    </div>
  </nav>
  {% comment %} navbar final {% endcomment %}


<div>
  <h2>cart summary</h2>
</div>
<br />

<div class="container">
    {% if cart_products %}
        {% for product in cart_products %}
        <div class="card">
            <h2 class="card-title">{{product.nome_local}}</h2>
            <p class="card-description">Descrição</p>
            </a>
            <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">
                Remover
            </button>
        </div>
        {% endfor %}
        
    {% else %}
    Seu roteiro está vazio...
    {% endif %}
    <br/><br/>
    
</div>


<br />


{% comment %} Deletar item do roteiro(carrinho) {% endcomment %}
<script>
    $(document).on("click", ".delete-product", function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '{% url "cart_delete" %}',
            data: {
                product_id: $(this).data("index"),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: "post",
            },
            success: function (json) {
                console.log("Sucesso na exclusão:", json);
                location.reload();
            },
            error: function (xhr, status, err) {
                console.log("Erro na exclusão:", err);
            },
        });
    });
</script>

{% endblock %}