.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.list-group-item {
    width: 300px; /* Ajuste conforme necessário */
    margin: 10px;
}

.card {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-description {
    color: #050505;
}

.delete-product {
    align-self: flex-end;
}
