.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.list-group-item {
    width: 300px; /* Ajuste conforme necessário */
    margin: 10px;
}

.cart-card {
    margin: 1rem;
    border: .1rem solid #000;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-flow: row nowrap;
}

.cart-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-cover {
    width: 100%;
    height: fit-content;
    margin: .5rem;
}

.card-cover img {
    height: 7rem;
    width: 10.5rem;
    border-radius: 15px;
}

.card-info {
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
}

.card-title {
    margin: 0 .5rem;
    height: 50%;
    display: flex;
    align-items: end;
}

.card-description {
    margin: 0 .5rem;
    height: 50%;
    display: flex;
    align-items: start;
    color: #050505;
}

.card-delete {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-delete button {
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    margin: 0 .5rem;
}


/* ------------- */
.main-container {
    width: 100%;
}

.cart-container {
    margin: 4rem;
    display: flex;
    flex-flow: row nowrap;
    border: .15rem solid #000;
}

.cart-left {
    width: 60%;
}

.cart-title {
    margin: 1rem;
    border-bottom: .1rem solid #000;
}

.cart-items {
    display: flex;
    flex-flow: column;
    margin: 0 1rem;
}

.cart-right {
    width: 40%;
    height: 100%;
}