.filters {
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter-categorias {
    padding: 1rem;
    margin: 2rem;
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-top: .10em solid #000;
    border-bottom: .10em solid #000;
}

.categories a {
    color: black;
    padding: .75rem;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    background-color: orange;
    margin: 0 2rem;
    border: 1px solid #000;
}

.categories a:hover {
    color: white;
    background-color: var(--bs-red);
}

.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

