/* Estilos gerais */
body {
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos do menu dropdown */
#menu-dropdown {
    background: #fff;
    height: 45px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#menu-dropdown a {
    color: #333;
    font-size: 16px;
}

#menu-dropdown a:hover {
    color: #000;
    background: #eee;
    border-radius: 60px;
}

/* Estilos dos cards */
.top-deals {
    align-items: center;
    display: flex;
    justify-content: center;
    display: inline-block;
    background: white;
}

.card {
    /* Seu estilo atual para os cartões */
    border: 1px solid #ddd;
    margin: 10px;
    width: 200px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card a {
    text-decoration: none;
    color: #000;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-description {
    color: #050505;
}
/* Estilos para a dropdown */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

/* Estilos para o banner */
.banner {
    width: 100%;
    height: 200%;
    overflow: hidden;
    position: relative;
}

.slider {
    width: 100%;
    height: 100%;
}

.carousel-container {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 1;
    min-width: 100%;
    box-sizing: border-box;
}

.slide-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.swiper-content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.dot-overlay {
    position: absolute;
    width: 2000px;
    height: 1000px;
    background: rgba(0, 0, 0, 0.3);
}

/* Adicione outros estilos conforme necessário para títulos e subtítulos */
#map {
    position: absolute;
    bottom: 440px; /* altura da sua barra de navegação */
    height: calc(50vh - 56px); /* ajuste a altura conforme necessário */
    width: 100vw;
    z-index: 0;
    background-color: white; /* ajuste a cor de fundo conforme necessário */
}


.navbar {
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.navbar.scrolled {
    background-color: #ffffff; /* Cor de fundo da barra de navegação após rolar a página */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #000000; /* Cor do texto na barra de navegação */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #555555; /* Cor do texto ao passar o mouse sobre os links na barra de navegação */
}

.nav-link{
    margin-left: 10px;
}

.dropdown-menu{
    margin-left: 10px;
}

.dropdown-item{
    z-index: 1;
}


