<!DOCTYPE html>
<html>
  <head>
    <title>{{ local.nome_local }}</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }

      h1 {
        color: #333;
      }

      .info {
        max-width: 600px;
        margin: auto;
      }

      .info p {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>{{ local.nome_local }}</h1>
    <div class="info">
      <p><strong>Descrição:</strong> {{ local.descricao }}</p>
      <p><strong>Tipo:</strong> {{ local.tipo }}</p>
      <p><strong>Cidade:</strong> {{ local.cidade }}</p>
      <p><strong>Bairro:</strong> {{ local.bairro }}</p>
      <p><strong>Rua:</strong> {{ local.rua }}</p>
      <p><strong>Telefone:</strong> {{ local.telefone }}</p>
      <p><strong>Email:</strong> {{ local.email }}</p>
      <!-- Adicione outros campos conforme necessário -->
    </div>
  </body>
</html>
